@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-VariableFont_wdth.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a_web {
    /* Remueve Link*/
    text-decoration: none;
    font-family: "Noto Sans";
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.aicom_web {
    /* Remueve Link*/
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-family: "Noto Sans";
}

.whatsapp-link:hover {
    background-color: #1DA851;
}

.facebook-link:hover {
    background-color: #2d4373;
}

.instagram-link:hover {
    background-color: #bc2a8d;
}

.mail-link:hover {
    background-color: rgba(0, 0, 0, .15);
}

.web-link:hover {
    background-color: rgba(0, 0, 0, .15);
}

img {
    max-width: 80%;
}

.nav-lcc {
    padding: 0rem;
    max-width: 100%;
    height: auto;
}

.container-lcc {
    text-align: center;
    /* Centra horizontalmente */
    height: auto;
    /* Altura del contenedor igual a la altura de la ventana */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    position: relative;
    /*margin-bottom: 100px;*/
    /* Centra verticalmente */
}

.container-menu-lcc {
    width: 80%;
    padding-left: 10%;
    text-align: center;
    /* Centra horizontalmente */
    height: auto;
    /* Altura del contenedor igual a la altura de la ventana */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

.logo {
    width: 80%;
    height: 20rem;
    justify-content: center;
    /*Como se alinea co su padre :space-between;*/
    align-items: center;
}

.logo2 {
    width: 80%;
    height: 50%;
    justify-content: center;
    /*Como se alinea co su padre :space-between;*/
    align-items: center;
}

.logo3 {
    width: 80%;
    height: 30%;
    justify-content: center;
    /*Como se alinea co su padre :space-between;*/
    align-items: center;
    display: block;
}

h1 {
    font-family: "Noto Sans";
    font-size: 50px;
    padding-top: 1rem;
    text-align: center;
}

h2 {
    font-family: "Noto Sans";
    font-size: 30px;
    padding-top: 1rem;
    text-align: center;
}

.menu {
    list-style-type: none;
    display: flex;
    /*Todo se pone en horizontal*/
    /*los elementos flex- funcionan, si el display es flex*/
    flex-direction: row;
    /* Cambiar el orden de las cosas*/
    flex-wrap: nowrap;
    justify-content: center;
    /*Como se alinea co su padre :space-between;*/
    align-items: start;
    gap: 2rem;
    /* Espacio entre elementos*/
    border-style: none;
}

.menu-item {
    background-color: white;
    color: black;
    font-family: "Noto Sans", sans-serif;
    padding: 1rem;
}

.productos {
    height: 80px;
}

.nosotros {
    height: 80px;
}

article {
    justify-content: center;
    width: 100%;
    color: black;
    padding: 1rem;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    /* Centra horizontalmente */
    height: auto;
    /* Altura del contenedor igual a la altura de la ventana */
    display: flex;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    font-size: 20px;
}

.centered-text {
    padding: 2rem;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Cambiar el color según el fondo de la imagen */
}

.left-text {
    padding: 2rem;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    /* Cambiar el color según el fondo de la imagen */
}

.right-text {
    padding: 1rem;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    /* Cambiar el color según el fondo de la imagen */
}

footer {
    background: url('../img/footer3A.jpg') no-repeat center center;
    background-size: cover;
    height: 30%;
    color: white;
    text-align: center;
    padding: 20px;
    flex-direction: column;

}

.contact-container {
    background-color: #7FC242;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item {
    width: 24px;
    /* Tamaño de los iconos */
    height: 24px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 1.2em;
    color: white;
}

.contact-icons {
    text-align: center;
    margin-top: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}

.contact-icons img {
    width: 48px;
    /* Ajustar según sea necesario */
    height: auto;
    margin-right: 10px;
}

.spacer {
    height: 20px;
}

.line {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    justify-content: center;
    align-items: center;
}

.line img,
.line i {
    margin: 0 10px;
}

/***/

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo formulario de contacto */
.contact-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    margin-top: 1rem;
    display: block;
}


.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"],
.contact-form input[type="reset"],
.contact-form input[type="button"] {
    width: auto;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="reset"]:hover,
.contact-form input[type="button"]:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .contact-form {
        padding: 1rem;
    }
}

/* Fin Estilo formulario de contacto */

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    footer {
        background-size: cover;
        /* Asegura que la imagen cubra el área del footer */
        height: auto;
        /* Ajusta la altura automáticamente según el contenido */
    }

    .line img {
        width: 20px;
        /* Ajusta el tamaño de los iconos para móviles */
        height: 20px;
    }

    .line span {
        font-size: 0.9em;
        /* Ajusta el tamaño del texto para móviles */
    }
}

@media (min-width: 768px) {
    .image-container {
        height: 500px;
        /* Ajusta la altura según sea necesario para pantallas grandes */
    }

    .responsive-image {
        height: 100%;
        width: auto;
        /* Mantiene la proporción de la imagen */
    }
}